<div class="bg-white border-bottom box-shadow fixed-top">
    <div class="container d-flex flex-column flex-md-row align-items-center p-3 px-md-4">
        <h5 class="my-0 mr-md-auto font-weight-bold text-dark" style="letter-spacing: 0.5px;">Online Strange Store</h5>
        <nav class="ms-md-auto mt-2 mt-md-0">
            <!-- 1. Каталог товаров -->
            <a class="p-2 btn btn-outline-primary me-2" href="{% url 'catalog:home' %}">Каталог</a>

            <!-- 2. НАШ БЛОГ (Встанет аккуратно наверх справа) -->
            <a class="p-2 btn btn-outline-primary me-2" href="{% url 'blog:list' %}">Блог</a>

            <!-- 3. Контакты -->
            <a class="p-2 btn btn-outline-primary me-2" href="{% url 'catalog:contacts' %}">Контакты</a>

            <!-- 4. Кнопка добавления товара (только для админа) -->
            {% if user.is_staff %}
                <a class="p-2 btn btn-success text-white" href="{% url 'catalog:product_create' %}">+ Добавить товар</a>
            {% endif %}
        </nav>
    </div>
</div>